body > main {
  --main-padding-block: 1rem;
  --main-gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
  place-content: center;
  gap: var(--main-gap);
  padding-block: var(--main-padding-block);

  & img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (48rem <= width < 64rem) {
  body >main {
    --main-padding-block: 1.25rem;
    --main-gap: 1.25rem;

    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  }
}

@media (width >= 64rem) {
  body >main {
    --main-padding-block: 1.5rem;
    --main-gap: 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
  }
}