.bg-surface-color nav {
  font: var(--font-base);
  background-color: var(--surface-color);
  padding-block: 1rem;

  & .icon {
    font-size: 1.5rem;
  }

  & .avatar {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (48rem <= width < 64rem) {
  nav {
    padding-block: 1.25rem;
  }
}


@media (width >= 64rem) {
  nav {
    padding-block: 1.25rem;

    & ul li:not(img) {
      padding: 0.25rem;
    }
  }
}
