nav {
  background-color: var(--surface-color);
  padding-block: 1rem;

  & .icon {
    font-size: 1.5rem;
  }

  & .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (min-width: 48rem) {
  nav {
    padding-block: 1.25rem;
  }
}


@media (min-width: 64rem) {
  nav {
    ul li:not(img) {
      padding: 0.25rem;
    }
  }
}
