body > nav {
  background-color: var(--surface-color);
  padding-block: 1rem;

  & .icon {
    font-size: 1.5rem;
  }

  & .avatar {
    width: 2.5rem;
    aspect-ratio: 1/1;
  }
}

@media (min-width: 48rem) {
  body > nav {
    padding-block: 1.25rem;
  }
}