.container {
  --max-width: 47.9375rem;
  --padding-inline: 1rem;

  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.desktop-only {
  display: none;
 }

 .desktop-direction-row {
  flex-direction: column;
 }

 .tablet-direction-row {
  flex-direction: column;
 }

 .flex {
  display: flex;
 }

 .grid {
  display: grid;
 }

 .justify-between {
  justify-content: space-between;
 }

 .items-center {
  align-items: center;
 }

 .gap-0\.5 {
  gap: 0.5rem;
 }

 .gap-1 {
  gap: 1rem;
 }

 .py-2 {
  padding-block: 2rem;
 }

@media (width >= 48rem) {
  .container {
    --max-width: 63.9375rem;
    --padding-inline: 1.5rem;
  }

  .tablet-direction-row {
    flex-direction: row;
   }
}

@media (width >= 64rem) {
  .container {
    --max-width: 80rem;
    --padding-inline: 2rem;
  }

  .desktop-only {
    display: block;
   }

   .desktop-direction-row {
    flex-direction: row;
   }
}